@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
font-family: Inter;
background-color: #502222;
}

.container__imagem {
  width: 200px;
  text-align: center;
}

.container__titulo {
  color: #eb1f1f;
  text-align: center;
}

.container__botao {
  display: inline-block;
  background-color: #d11e1e;
  color: white;
  padding: 1em;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
}

.container {
  width: 20%;
  background-color: #461c1c;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  
}